<form method='POST' action='/parse' enctype='multipart/form-data' class="col s12 m4 l2">
  <div class="row">
    <div class="col s12 m4 l2"></div>
    <div class="col s12 m4 l8">
      <div class="input-field inline">
        <input id="banks" name="banks" type="text" class="validate">
        <label for="banks">Banks to Include</label>
      </div>
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file" name="file" id="file" required>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <button type="submit" class="btn" id="#data">Submit</button>
    </div>
  </div>
</form>
<p v-if="loading">Loading...</p>
{{ hello }}

