
<table class="bordered striped responsive-table">
  <thead>
    <tr>
      <% @csv.headers.each do |header| %>
        <th><%= header %></th>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <% @main_arr.each do |row| %>
      <tr>
        <% row.each do |column| %>
          <td>
            <%= column.last %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>